body {
    background-color: #81a69b;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2em;
    background-color: orangered;
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

.app-content {
    display: flex;
    flex-direction: row;
    margin: 3em;
    justify-content: center;
}

.user-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-list ul li {
    /* padding: 0 1em 1em 1em; */
    margin: 1em 0;
    border: 1px solid #eee;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 350px;
}

.user-list ul li h3 {
    border-radius: 8px 8px 0 0;
    padding: 0.25em 1em;
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-list ul li .status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.user-list ul li .status-indicator.active {
    background-color: green;
}

.user-list ul li .status-indicator.away {
    background-color: gold;
}

.user-list ul li .status-indicator.offline {
    background-color: lightgray;
}

.user-list ul li .stats {
    display: flex;
    padding: 0 1em 1em 1em;
    justify-content: space-between;
}
