body {
    background-color: white;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2em;
    background-color: orangered;
    color: white;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    height: 30px;
    padding: 0 2em;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button[disabled],
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button.light-grey {
    color: white;
    background-color: rgb(177, 174, 174);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

.app-content {
    display: flex;
    flex-direction: row;
    margin: 3em;
    justify-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-list ul li {
    margin: 1em 0;
    border: 1px solid #eee;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 350px;
}

.user-list ul li h3 {
    border-radius: 8px 8px 0 0;
    padding: 0.25em 1em;
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.status-indicator.active {
    background-color: green;
}

.status-indicator.away {
    background-color: gold;
}

.status-indicator.offline {
    background-color: lightgray;
}

.user-list ul li .stats {
    display: flex;
    padding: 0 1em 1em 1em;
    justify-content: space-between;
}

.user-detail {
    max-width: 800px;
    min-width: 400px;
}

.user-detail-header {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #333;
}

.user-detail .user-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-detail li {
    border: 1px solid #eee;
    padding: 1em;
    margin: 0.5em 0;
    background-color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 600px) {
    .user-detail {
        min-width: unset;
    }

    .user-detail-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-detail-header h1 {
        margin: 0;
    }

    .user-detail-header p {
        margin-top: 0;
    }
}

.logout-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 1em;
}

.login input {
    margin-bottom: 30px;
    font-size: 18px;
    height: 30px;
    width: 325px;
    border: 1px solid #eee;
    padding: 1em;
    margin-top: 0.5em;
}

.login label {
    display: flex;
    flex-direction: column;
}

.login form {
    margin-bottom: 20px;
}
